@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.about {
  width: 100%;
  max-inline-size: 1000px;
  margin-inline: auto;
  &__heading {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 30px;
    line-height: 1.185;

    @include before-heading("01.", $accent-color);
    @include after-heading($accent-color);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 50px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    &-left {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media screen and (min-width: 768px) {
        flex-basis: calc(65% - 1rem);
      }
    }

    &-right {
      @media screen and (min-width: 768px) {
        flex-basis: calc(35% - 1rem);
      }
    }
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
    border: 1px solid $accent-color;
    border-radius: 5px;
    transform: translate(10px, 10px);
    cursor: pointer;

    img {
      position: relative;
      transform: translate(-10px, -10px);
      width: 100%;
      height: auto;
      border-radius: 5px;
      filter: brightness(0.7) sepia(100%) hue-rotate(140deg) saturate(600%)
        contrast(0.8);
      transition: filter 0.3s ease, transform 0.5s ease;
    }

    &:hover {
      img {
        filter: none;
        transform: translate(-25px, -25px);
      }
    }
  }

  &__tech {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 14px;
    line-height: 1.5;

    ul {
      flex-basis: calc((100% / 3) - 1rem);
    }
  }
}
