@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;

.aside {
  display: none; // Hidden by default on mobile
  opacity: 0; // Start as invisible
  animation: none; // No animation by default

  @media screen and (min-width: 768px) {
    position: fixed;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    animation: fadeIn 0.5s ease forwards; // Apply animation

    &.show {
      animation-delay: 1s; // Delay before starting the animation
    }

    // Define the keyframes for the fade-in animation
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    &.right {
      right: calc($off-mobile-inline - 16.59px);
    }

    &.left {
      left: calc($off-mobile-inline - 25px);
      width: 25px;
    }

    &__icons,
    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.25rem;
      &::after {
        content: "";
        display: block;
        height: 167px;
        width: 2px;
        background-color: $off-white;
      }
    }

    a {
      display: block;
      color: $off-white;
      text-decoration: none;
      font-weight: 300;
      font-size: 14px;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: $accent-color;
        transform: translateY(-5px);
      }

      &.website {
        writing-mode: vertical-rl;
      }
    }
  }
}
