@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.contact {
  margin-inline: auto;
  text-align: center;
  width: fit-content;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  &__heading {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
    line-height: 1.65;
    font-weight: 700;
    color: $accent-color;
    margin-block-end: 1.5rem;

    @include before-heading("04.", $accent-color);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-inline-size: 50ch;
    font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
    line-height: 1.65;
  }

  &__subheading {
    font-size: 30px;
    line-height: 1.1;
    font-weight: 700;
  }

  &__email {
    width: fit-content;
    @include btn($size: $btn-text-size);
  }
}
