@use "../abstracts/colors" as color;
@use "../abstracts/mixins" as mixins;

.contact {
  min-height: 50vh;
  border: 1px solid red;

  &__heading {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 30px;
    line-height: 1.185;

    @include mixins.before-heading("04.", color.$accent-color);
    @include mixins.after-heading(color.$accent-color);
  }
}
