@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.experience {
  width: 100%;
  max-inline-size: 1000px;
  margin-inline: auto;
  padding-block-end: 5rem;

  &__heading {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 30px;
    line-height: 1.185;

    @include before-heading("02.", $accent-color);
    @include after-heading($accent-color);
  }

  &__wrapper {
    padding-block: 30px 80px;
    display: flex;
  }

  &__tabs {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 1px;
      width: 1px;
      height: 100%;
      background-color: $secondary-bg-color;
    }
  }

  &__tab-item {
    @include btn-tab;
  }

  &__marker {
    background-color: $accent-color;
  }
}
