@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;

// Variables
$nav-gap: clamp(1.5rem, 1.0714rem + 0.8929vi, 1.875rem);
$line-height: 1.185;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 25px;
  position: relative;

  &__wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    min-height: 100vh;
    background-color: $secondary-bg-color;
    transition: left 0.75s ease-in-out;

    &.open {
      left: 0;
    }
  }

  &__nav {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }

    &-item {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-decoration: none;
        color: $off-white;

        & > span:first-child {
          color: $accent-color;
          font-weight: 700;
          font-size: 1.25rem;
          line-height: $line-height;
        }

        & > span:last-child {
          font-weight: 500;
          font-size: 1rem;
          line-height: $line-height;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            background-color: $off-white;
            bottom: -5px;
            left: 0;
            transition: width 0.3s ease-in-out;
          }
        }

        &:hover {
          & > span:last-child::before {
            width: 100%;
          }
        }
      }
    }
  }

  &__download {
    @include btn($size: $btn-text-size);
  }

  &__menu-btn {
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &.open {
      position: fixed;
      top: 25px;
      right: clamp(1.875rem, 0.6823rem + 5.0891vi, 3.125rem);
      display: block;
      z-index: 3;
    }
  }

  @media screen and (min-width: 1024px) {
    // padding: 35px clamp(2.8125rem, -2.5721rem + 8.4135vw, 5rem);

    &__wrapper {
      position: static;
      flex-direction: row;
      background-color: transparent;
      min-height: auto;
      gap: $nav-gap;
      margin-left: auto;
    }

    &__nav {
      margin-left: auto;

      &-list {
        flex-direction: row;
        gap: $nav-gap;
      }

      &-item {
        a {
          position: relative;
          flex-direction: row;

          &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            background-color: $off-white;
            bottom: -5px;
            left: 0;
            transition: width 0.3s ease-in-out, left 0.3s ease-in-out,
              right 0.3s ease-in-out;
          }

          &.hover::before {
            width: 100%;
            left: 0;
            right: auto;
          }

          &.hover-off::before {
            left: auto;
            right: 0;
            width: 0;
          }

          & > span:last-child::before {
            display: none;
          }
        }
      }
    }

    &__menu-btn {
      display: none;
    }
  }
}
