@use "../abstracts/colors" as colors;
@use "../abstracts/functions" as funcs;


.intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: colors.$white;
    font-size: 1.5rem;
    text-align: left;

    &__tagline {
        color: colors.$off-white;
        font-size: 1.5rem;
    }
}