@use "../abstracts/colors" as color;

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.hexagon {
  width: 100px;
  height: 100px;
}

#hexagon-path {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 2s ease-in-out forwards, fadeOut 2s 3s forwards;
}

.letter {
  fill: white;
  font-size: 32px;
  opacity: 0;
  animation: fadeIn 1s 2s forwards, fadeOut 2s 3s forwards;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
