@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.work {
  min-height: 50vh;
  border: 1px solid red;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  &__heading {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 30px;
    line-height: 1.185;

    @include before-heading("03.", $accent-color);
    @include after-heading($accent-color);
  }
}
