@use "./colors" as colors;

@mixin btn($color: colors.$accent-color) {
	display: inline-block;
  color: $color;
  border: 2px solid $color;
  background-color: transparent;
  border-radius: 10px;
  padding: 15px 30px;
  text-decoration: none;
	font-size: 1.25rem;
	line-height: 1.185;
	font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color;
    color: colors.$white;
  }

  // Optional focus styles for accessibility
  &:focus {
    outline: 2px solid $color;
  }
}
