$btn-text-size: clamp(0.75rem, 0.5739rem + 0.7512vi, 1.25rem);
$off-desktop-inline: clamp(3.125rem, -0.4464rem + 7.4405vi, 6.25rem);
$off-mobile-inline: clamp(1.875rem, 0.6823rem + 5.0891vi, 3.125rem);
$grid-gap: 1.5rem;